// Add your custom CSS here.
@media(min-width: 767px) {
  .header__row {
    .col.col-lg-auto.pl-1.pl-md-2.pl-lg-3 {
      flex-basis: 33.33%;
      max-width: 33.33%;
      display: flex;
      justify-content: center;
      
    }
    .header__logo {
        max-height: 80px;
    }
    .order-lg-last.col-auto.p-0 {
      display: flex;
      flex-basis: 33.33%;
      max-width: 33.33%;
      justify-content: flex-end;
    }
    > .col-auto.p-0 {
      display: none;
    }
    .d-none.d-lg-block.col-12.col-lg.collapse {
      flex-basis: 33.33%;
      max-width: 33.33%;
      order: -1;
      display: flex !important;
      justify-content: flex-start;
    }
  }
  
}
.dx-caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #000;
    display: inline-block;
    vertical-align: middle;
}
.header__submenu {
    margin-top: .8rem !important;
}
.header__category:hover {
    background: none !important;
    border-bottom: 2px solid #e00000 !important;
}  
@media(min-width: 767px) {
    #banner-secundario .banner:first-child {
        padding-bottom: 2.2rem
      }
}

  .order-info__toggle {
  display: none !important
  }
  